*{
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    background-color: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
    background-image: url(backcover.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    float: left;
    height: 50px;
}
.logotext{
    width: 150px;
    float: left;
    height: 70px;
}
.logotxt{
    color: orange;
    font-size: 35px;
    font-family: Arial;
    margin-top: 27px;
    float: left;
    border: 1px solid rgb(193, 193, 193);
    text-align: center;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}
.logo{
    padding-left: 20px;
    float: left;
    padding-top: 20px;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: arial;
    font-weight: bold;
    transition: 0.4 ease-in-out;
}
ul li a:hover{
    color: orange;
}
